In [51]:
!python -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\deepti\appdata\roaming\python\python312\site-packages (25.0.1)

In [52]:
!pip install dask

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask in c:\users\deepti\appdata\roaming\python\python312\site-packages (2025.2.0)
Requirement already satisfied: click>=8.1 in c:\programdata\anaconda3\lib\site-packages (from dask) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\programdata\anaconda3\lib\site-packages (from dask) (2024.3.1)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from dask) (23.2)
Requirement already satisfied: partd>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from dask) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\programdata\anaconda3\lib\site-packages (from dask) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\programdata\anaconda3\lib\site-packages (from dask) (0.12.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=8.1->dask) (0.4.6)
Requirement already satisfied: locket in c:\programdata\anaconda3\lib\site-packages (from partd>=1.4.0->dask) (1.0.0)

In [53]:
!pip install dask[distributed]

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask[distributed] in c:\users\deepti\appdata\roaming\python\python312\site-packages (2025.2.0)
Requirement already satisfied: click>=8.1 in c:\programdata\anaconda3\lib\site-packages (from dask[distributed]) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[distributed]) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\programdata\anaconda3\lib\site-packages (from dask[distributed]) (2024.3.1)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from dask[distributed]) (23.2)
Requirement already satisfied: partd>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from dask[distributed]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\programdata\anaconda3\lib\site-packages (from dask[distributed]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\programdata\anaconda3\lib\site-packages (from dask[distributed]) (0.12.0)
Requirement already satisfied: distributed==2025.2.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[distributed]) (2025.2.0)
Requirement already satisfied: jinja2>=2.10.3 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (3.1.4)
Requirement already satisfied: locket>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (1.0.0)
Requirement already satisfied: msgpack>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (1.0.3)
Requirement already satisfied: psutil>=5.8.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (5.9.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (1.7.0)
Requirement already satisfied: tornado>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (6.4.1)
Requirement already satisfied: urllib3>=1.26.5 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (2.2.2)
Requirement already satisfied: zict>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[distributed]) (3.0.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=8.1->dask[distributed]) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.10.3->distributed==2025.2.0->dask[distributed]) (2.1.3)

In [55]:
!pip install "dask[dataframe]"

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask[dataframe] in c:\users\deepti\appdata\roaming\python\python312\site-packages (2025.2.0)
Requirement already satisfied: click>=8.1 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[dataframe]) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (2024.3.1)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (23.2)
Requirement already satisfied: partd>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (0.12.0)
Requirement already satisfied: pandas>=2.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[dataframe]) (2.2.2)
Requirement already satisfied: pyarrow>=14.0.1 in c:\programdata\anaconda3\lib\site-packages (from dask[dataframe]) (14.0.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=8.1->dask[dataframe]) (0.4.6)
Requirement already satisfied: numpy>=1.26.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[dataframe]) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[dataframe]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[dataframe]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[dataframe]) (2024.1)
Requirement already satisfied: locket in c:\programdata\anaconda3\lib\site-packages (from partd>=1.4.0->dask[dataframe]) (1.0.0)
Requirement already satisfied: six>=1.5 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[dataframe]) (1.16.0)

In [56]:
!pip install "dask[complete]"

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask[complete] in c:\users\deepti\appdata\roaming\python\python312\site-packages (2025.2.0)
Requirement already satisfied: click>=8.1 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[complete]) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (2024.3.1)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (23.2)
Requirement already satisfied: partd>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: pyarrow>=14.0.1 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (14.0.2)
Requirement already satisfied: lz4>=4.3.2 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (4.3.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=8.1->dask[complete]) (0.4.6)
Requirement already satisfied: locket in c:\programdata\anaconda3\lib\site-packages (from partd>=1.4.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pyarrow>=14.0.1->dask[complete]) (1.26.4)
Requirement already satisfied: pandas>=2.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[complete]) (2.2.2)
Requirement already satisfied: distributed==2025.2.0 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from dask[complete]) (2025.2.0)
Requirement already satisfied: bokeh>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (3.4.1)
Requirement already satisfied: jinja2>=2.10.3 in c:\programdata\anaconda3\lib\site-packages (from dask[complete]) (3.1.4)
Requirement already satisfied: msgpack>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (1.0.3)
Requirement already satisfied: psutil>=5.8.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (5.9.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (1.7.0)
Requirement already satisfied: tornado>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (6.4.1)
Requirement already satisfied: urllib3>=1.26.5 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (2.2.2)
Requirement already satisfied: zict>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (3.0.0)
Requirement already satisfied: contourpy>=1.2 in c:\programdata\anaconda3\lib\site-packages (from bokeh>=3.1.0->dask[complete]) (1.2.0)
Requirement already satisfied: pillow>=7.1.0 in c:\programdata\anaconda3\lib\site-packages (from bokeh>=3.1.0->dask[complete]) (10.3.0)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\programdata\anaconda3\lib\site-packages (from bokeh>=3.1.0->dask[complete]) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.10.3->dask[complete]) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[complete]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[complete]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from pandas>=2.0->dask[complete]) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\deepti\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[complete]) (1.16.0)

In [57]:
!pip show dask

Name: dask
Version: 2025.2.0
Summary: Parallel PyData with Task Scheduling
Home-page: https://github.com/dask/dask/
Author:
Author-email:
License: BSD-3-Clause
Location: C:\Users\Deepti\AppData\Roaming\Python\Python312\site-packages
Requires: click, cloudpickle, fsspec, packaging, partd, pyyaml, toolz
Required-by: dask-expr, datashader, distributed, intake

In [58]:
os.listdir()

['.ipynb_checkpoints', 'sales_5000000.csv', 'Task1.ipynb']

In [4]:
import os
print(os.path.exists(r'C:\Users\Deepti\Desktop\study folder\internship\Task\sales_5000000.csv'))

True

In [5]:
try:
    import os
    import json
    import math
    import dask
    from dask.distributed import Client
    import dask.dataframe as dd
    import numpy as np
    import dask.multiprocessing
except Exception as e:
    print("Some Modules are Missing : {} ".format(e))

In [6]:
import dask.dataframe as dd

In [7]:
df = dd.read_csv(r'C:\Users\Deepti\Desktop\study folder\internship\Task\sales_5000000.csv')

In [ ]:
print(df.head())

In [7]:
print(df.dtypes)

Region            string[pyarrow]
Country           string[pyarrow]
Item Type         string[pyarrow]
Sales Channel     string[pyarrow]
Order Priority    string[pyarrow]
Order Date        string[pyarrow]
Order ID                    int64
Ship Date         string[pyarrow]
Units Sold                  int64
Unit Price                float64
Unit Cost                 float64
Total Revenue             float64
Total Cost                float64
Total Profit              float64
dtype: object

In [8]:
print(df.columns)
print("columns:",df.shape[1])

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')
columns: 14

In [9]:
print("Rows:", df.shape[0].compute())

Rows: 5000000

In [10]:
for partition in df.to_delayed():
    print(partition.compute())  # Prints each partition one by one

                              Region   Country        Item Type Sales Channel  \
0              Australia and Oceania     Palau  Office Supplies        Online
1                             Europe    Poland        Beverages        Online
2                      North America    Canada           Cereal        Online
3                             Europe   Belarus           Snacks        Online
4       Middle East and North Africa      Oman           Cereal       Offline
...                              ...       ...              ...           ...
555620                        Europe     Spain           Fruits        Online
555621                        Europe    Poland             Meat       Offline
555622                          Asia  Malaysia          Clothes        Online
555623                        Europe    Sweden        Baby Food        Online
555624                        Europe   Belarus           Fruits        Online

       Order Priority  Order Date   Order ID   Ship Date  Units Sold  \
0                   H  2020-03-06  517073523  2020-03-26        2401
1                   L  2014-04-18  380507028  2014-05-26        9340
2                   M  2019-01-08  504055583  2019-01-31         103
3                   C  2018-01-19  954955518  2018-02-27        1414
4                   H  2023-04-26  970755660  2023-06-02        7027
...               ...         ...        ...         ...         ...
555620              M  2020-02-28  403682601  2020-03-07        7507
555621              M  2023-07-23  230476701  2023-09-10        2032
555622              C  2014-08-10  712893664  2014-09-18        9932
555623              M  2020-06-15  849419820  2020-07-08        1056
555624              M  2021-08-11  608853995  2021-09-09        2282

        Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0           651.21     524.96     1563555.21  1260428.96     303126.25
1            47.45      31.79      443183.00   296918.60     146264.40
2           205.70     117.11       21187.10    12062.33       9124.77
3           152.58      97.44      215748.12   137780.16      77967.96
4           205.70     117.11     1445453.90   822931.97     622521.93
...            ...        ...            ...         ...           ...
555620        9.33       6.92       70040.31    51948.44      18091.87
555621      421.89     364.69      857280.48   741050.08     116230.40
555622      109.28      35.84     1085368.96   355962.88     729406.08
555623      255.28     159.42      269575.68   168347.52     101228.16
555624        9.33       6.92       21291.06    15791.44       5499.62

[555625 rows x 14 columns]
                                   Region                           Country  \
0                      Sub-Saharan Africa                             Sudan
1                                    Asia                       Philippines
2       Central America and the Caribbean  Saint Vincent and the Grenadines
3       Central America and the Caribbean               Trinidad and Tobago
4                                    Asia                         Singapore
...                                   ...                               ...
555552       Middle East and North Africa                            Kuwait
555553       Middle East and North Africa                              Iran
555554  Central America and the Caribbean                Dominican Republic
555555                      North America                            Mexico
555556                               Asia                             Japan

              Item Type Sales Channel Order Priority  Order Date   Order ID  \
0       Office Supplies        Online              C  2021-06-27  480307519
1       Office Supplies       Offline              H  2019-08-27  123204219
2             Beverages        Online              C  2017-03-05  617280423
3               Clothes       Offline              H  2021-12-23  412584960
4       Office Supplies        Online              C  2022-02-04  279479157
...                 ...           ...            ...         ...        ...
555552             Meat       Offline              M  2014-10-13  682867944
555553          Clothes        Online              L  2022-12-17  497151362
555554           Snacks       Offline              M  2015-06-18  459489285
555555    Personal Care       Offline              C  2021-08-03  819930541
555556       Vegetables       Offline              M  2018-09-09  548836457

         Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
0       2021-06-29        2523      651.21     524.96     1643002.83
1       2019-09-19        7721      651.21     524.96     5027992.41
2       2017-04-12        5849       47.45      31.79      277535.05
3       2022-01-21        1913      109.28      35.84      209052.64
4       2022-03-20        2948      651.21     524.96     1919767.08
...            ...         ...         ...        ...            ...
555552  2014-10-30        4654      421.89     364.69     1963476.06
555553  2022-12-26        6991      109.28      35.84      763976.48
555554  2015-06-30        1945      152.58      97.44      296768.10
555555  2021-08-12        4523       81.73      56.67      369664.79
555556  2018-10-27        1759      154.06      90.93      270991.54

        Total Cost  Total Profit
0       1324474.08     318528.75
1       4053216.16     974776.25
2        185939.71      91595.34
3         68561.92     140490.72
4       1547582.08     372185.00
...            ...           ...
555552  1697267.26     266208.80
555553   250557.44     513419.04
555554   189520.80     107247.30
555555   256318.41     113346.38
555556   159945.87     111045.67

[555557 rows x 14 columns]
                                   Region     Country        Item Type  \
0                                  Europe     Romania        Beverages
1                                    Asia   Singapore    Personal Care
2       Central America and the Caribbean     Jamaica        Beverages
3       Central America and the Caribbean    Dominica           Cereal
4                   Australia and Oceania    Kiribati       Vegetables
...                                   ...         ...              ...
555493                             Europe    Bulgaria           Fruits
555494                             Europe     Iceland        Household
555495                               Asia    Mongolia  Office Supplies
555496                             Europe  Montenegro        Cosmetics
555497                             Europe     Georgia           Cereal

       Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0            Offline              M  2023-01-14  486880862  2023-01-24
1            Offline              C  2020-04-30  195050084  2020-06-15
2             Online              L  2024-07-04  204642951  2024-08-15
3            Offline              L  2018-12-03  667270791  2019-01-20
4             Online              M  2015-03-06  904857432  2015-03-07
...              ...            ...         ...        ...         ...
555493       Offline              H  2017-01-17  119122540  2017-01-26
555494       Offline              L  2016-01-03  151841628  2016-01-20
555495       Offline              L  2015-09-02  695603501  2015-09-27
555496       Offline              M  2017-08-12  903581988  2017-10-01
555497        Online              C  2014-03-19  449263417  2014-04-07

        Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0             7722       47.45      31.79      366408.90   245482.38
1             8509       81.73      56.67      695440.57   482205.03
2             7252       47.45      31.79      344107.40   230541.08
3             9110      205.70     117.11     1873927.00  1066872.10
4             6277      154.06      90.93      967034.62   570767.61
...            ...         ...        ...            ...         ...
555493        9862        9.33       6.92       92012.46    68245.04
555494        2167      668.27     502.54     1448141.09  1089004.18
555495        3389      651.21     524.96     2206950.69  1779089.44
555496        8845      437.20     263.33     3867034.00  2329153.85
555497        5884      205.70     117.11     1210338.80   689075.24

        Total Profit
0          120926.52
1          213235.54
2          113566.32
3          807054.90
4          396267.01
...              ...
555493      23767.42
555494     359136.91
555495     427861.25
555496    1537880.15
555497     521263.56

[555498 rows x 14 columns]
                                   Region                 Country  \
0                                    Asia              Tajikistan
1                   Australia and Oceania              East Timor
2                                  Europe                  France
3                      Sub-Saharan Africa                 Senegal
4                                  Europe  Bosnia and Herzegovina
...                                   ...                     ...
555584       Middle East and North Africa                 Morocco
555585       Middle East and North Africa                  Turkey
555586  Central America and the Caribbean                Honduras
555587       Middle East and North Africa                   Yemen
555588  Central America and the Caribbean             The Bahamas

              Item Type Sales Channel Order Priority  Order Date   Order ID  \
0                  Meat        Online              H  2015-05-26  876446616
1         Personal Care       Offline              C  2021-11-26  649242913
2       Office Supplies       Offline              L  2019-12-07  102076137
3                Cereal       Offline              C  2018-07-27  989682614
4                  Meat       Offline              M  2023-01-24  637111175
...                 ...           ...            ...         ...        ...
555584        Baby Food        Online              C  2018-05-28  187837302
555585           Fruits       Offline              C  2014-06-22  346033990
555586  Office Supplies        Online              L  2022-12-12  310830104
555587        Baby Food        Online              C  2015-06-29  486961972
555588  Office Supplies       Offline              C  2024-02-01  449478423

         Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
0       2015-05-27        8885      421.89     364.69     3748492.65
1       2021-12-24        4260       81.73      56.67      348169.80
2       2019-12-26        5452      651.21     524.96     3550396.92
3       2018-08-01        7933      205.70     117.11     1631818.10
4       2023-02-01        4209      421.89     364.69     1775735.01
...            ...         ...         ...        ...            ...
555584  2018-06-01        4087      255.28     159.42     1043329.36
555585  2014-08-03        8002        9.33       6.92       74658.66
555586  2023-01-03         390      651.21     524.96      253971.90
555587  2015-07-01        1724      255.28     159.42      440102.72
555588  2024-02-29        9509      651.21     524.96     6192355.89

        Total Cost  Total Profit
0       3240270.65     508222.00
1        241414.20     106755.60
2       2862081.92     688315.00
3        929033.63     702784.47
4       1534980.21     240754.80
...            ...           ...
555584   651549.54     391779.82
555585    55373.84      19284.82
555586   204734.40      49237.50
555587   274840.08     165262.64
555588  4991844.64    1200511.25

[555589 rows x 14 columns]
                                   Region                         Country  \
0                      Sub-Saharan Africa                         Eritrea
1                                  Europe                          Poland
2            Middle East and North Africa                    Saudi Arabia
3                   Australia and Oceania                         Vanuatu
4       Central America and the Caribbean            Antigua and Barbuda
...                                   ...                             ...
555546                 Sub-Saharan Africa                       Swaziland
555547              Australia and Oceania  Federated States of Micronesia
555548                 Sub-Saharan Africa        Central African Republic
555549                 Sub-Saharan Africa                   Cote d'Ivoire
555550                             Europe                        Slovakia

        Item Type Sales Channel Order Priority  Order Date   Order ID  \
0       Baby Food        Online              C  2018-01-21  293740785
1          Fruits       Offline              L  2016-05-07  185422885
2          Cereal        Online              C  2018-01-12  810511052
3       Beverages       Offline              H  2018-04-29  225304114
4            Meat        Online              L  2024-08-25  606413400
...           ...           ...            ...         ...        ...
555546     Snacks       Offline              C  2021-04-21  824803578
555547     Cereal       Offline              H  2017-01-25  820443809
555548  Baby Food       Offline              L  2019-10-29  639822137
555549  Household       Offline              C  2015-10-10  617362391
555550     Cereal       Offline              M  2014-01-02  707800900

         Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
0       2018-01-29        3281      255.28     159.42      837573.68
1       2016-06-18        9607        9.33       6.92       89633.31
2       2018-02-19        7087      205.70     117.11     1457795.90
3       2018-06-14        1349       47.45      31.79       64010.05
4       2024-09-21          56      421.89     364.69       23625.84
...            ...         ...         ...        ...            ...
555546  2021-06-06        6563      152.58      97.44     1001382.54
555547  2017-03-16        6410      205.70     117.11     1318537.00
555548  2019-11-17        6443      255.28     159.42     1644769.04
555549  2015-11-01         106      668.27     502.54       70836.62
555550  2014-02-13        2870      205.70     117.11      590359.00

        Total Cost  Total Profit
0        523057.02     314516.66
1         66480.44      23152.87
2        829958.57     627837.33
3         42884.71      21125.34
4         20422.64       3203.20
...            ...           ...
555546   639498.72     361883.82
555547   750675.10     567861.90
555548  1027143.06     617625.98
555549    53269.24      17567.38
555550   336105.70     254253.30

[555551 rows x 14 columns]
                                   Region          Country  Item Type  \
0                      Sub-Saharan Africa          Senegal     Fruits
1       Central America and the Caribbean         Barbados  Beverages
2                      Sub-Saharan Africa            Gabon  Baby Food
3                                  Europe          Romania  Cosmetics
4                                    Asia        Sri Lanka  Cosmetics
...                                   ...              ...        ...
555547                 Sub-Saharan Africa             Togo  Cosmetics
555548                             Europe          Ukraine  Cosmetics
555549                               Asia         Cambodia     Fruits
555550              Australia and Oceania  Solomon Islands    Clothes
555551                 Sub-Saharan Africa     Sierra Leone       Meat

       Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0             Online              C  2019-10-06  936186492  2019-11-23
1             Online              H  2018-06-02  947880494  2018-06-28
2            Offline              C  2023-07-26  458556735  2023-09-11
3            Offline              M  2018-03-28  604201543  2018-05-15
4             Online              H  2024-05-20  791113746  2024-05-21
...              ...            ...         ...        ...         ...
555547       Offline              M  2016-02-17  949553334  2016-03-09
555548       Offline              M  2016-03-21  753592002  2016-03-28
555549        Online              M  2014-08-11  775118768  2014-09-24
555550        Online              L  2018-11-22  448557460  2019-01-08
555551        Online              L  2016-10-07  628644406  2016-10-08

        Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0             7242        9.33       6.92       67567.86    50114.64
1             7757       47.45      31.79      368069.65   246595.03
2             5983      255.28     159.42     1527340.24   953809.86
3             5518      437.20     263.33     2412469.60  1453054.94
4             6993      437.20     263.33     3057339.60  1841466.69
...            ...         ...        ...            ...         ...
555547        2788      437.20     263.33     1218913.60   734164.04
555548        3475      437.20     263.33     1519270.00   915071.75
555549        3723        9.33       6.92       34735.59    25763.16
555550        6975      109.28      35.84      762228.00   249984.00
555551        8705      421.89     364.69     3672552.45  3174626.45

        Total Profit
0           17453.22
1          121474.62
2          573530.38
3          959414.66
4         1215872.91
...              ...
555547     484749.56
555548     604198.25
555549       8972.43
555550     512244.00
555551     497926.00

[555552 rows x 14 columns]
                                   Region      Country      Item Type  \
0                           North America       Mexico  Personal Care
1                      Sub-Saharan Africa     Ethiopia        Clothes
2       Central America and the Caribbean    Nicaragua      Baby Food
3            Middle East and North Africa        Libya        Clothes
4                      Sub-Saharan Africa       Zambia         Snacks
...                                   ...          ...            ...
555624                               Asia        China     Vegetables
555625                             Europe      Croatia      Cosmetics
555626                 Sub-Saharan Africa   Mauritania  Personal Care
555627       Middle East and North Africa         Iran         Cereal
555628                             Europe  Netherlands         Fruits

       Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0             Online              C  2024-03-06  440428435  2024-04-02
1            Offline              C  2015-10-17  429270875  2015-10-26
2             Online              C  2015-11-28  310845553  2015-12-16
3             Online              C  2018-03-30  321138799  2018-05-11
4             Online              C  2023-05-15  766449439  2023-05-17
...              ...            ...         ...        ...         ...
555624        Online              L  2019-10-27  644269454  2019-12-09
555625        Online              C  2014-05-10  458319413  2014-05-19
555626       Offline              H  2021-02-09  126429736  2021-02-20
555627       Offline              H  2019-02-04  897086751  2019-02-18
555628       Offline              C  2015-07-27  489089286  2015-08-19

        Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0             1416       81.73      56.67      115729.68    80244.72
1             9646      109.28      35.84     1054114.88   345712.64
2             4962      255.28     159.42     1266699.36   791042.04
3              962      109.28      35.84      105127.36    34478.08
4             8276      152.58      97.44     1262752.08   806413.44
...            ...         ...        ...            ...         ...
555624        2503      154.06      90.93      385612.18   227597.79
555625        5754      437.20     263.33     2515648.80  1515200.82
555626        2223       81.73      56.67      181685.79   125977.41
555627        6760      205.70     117.11     1390532.00   791663.60
555628        1243        9.33       6.92       11597.19     8601.56

        Total Profit
0           35484.96
1          708402.24
2          475657.32
3           70649.28
4          456338.64

In [11]:
df.info()

<class 'dask.dataframe.dask_expr.DataFrame'>
Columns: 14 entries, Region to Total Profit
dtypes: float64(5), int64(2), string(7)

In [12]:
df.describe().compute()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06
mean,5.498905e+08,4.999991e+03,2.661906e+02,1.876560e+02,1.331058e+06,9.383781e+05,3.926799e+05
std,2.597753e+08,2.886787e+03,2.170153e+02,1.757014e+02,1.469902e+06,1.150104e+06,3.791169e+05
min,1.000003e+08,1.000000e+00,9.330000e+00,6.920000e+00,9.330000e+00,6.920000e+00,2.410000e+00
25%,3.264781e+08,2.505000e+03,1.092800e+02,5.667000e+01,2.792031e+05,1.626084e+05,9.557125e+04
50%,5.517487e+08,5.006000e+03,2.057000e+02,1.171100e+02,7.872531e+05,4.690009e+05,2.824036e+05
75%,7.775920e+08,7.502000e+03,4.372000e+02,3.646900e+02,1.824486e+06,1.200433e+06,5.663409e+05
max,9.999999e+08,1.000000e+04,6.682700e+02,5.249600e+02,6.682700e+06,5.249600e+06,1.738700e+06

In [13]:
df.isnull().sum().compute()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [14]:
df.nunique().compute()

Region                  7
Country               185
Item Type              12
Sales Channel           2
Order Priority          4
Order Date           3906
Order ID          2097152
Ship Date            3956
Units Sold          10000
Unit Price             12
Unit Cost              12
Total Revenue      119953
Total Cost         119786
Total Profit       119831
dtype: int64

In [15]:
df['Order ID'].value_counts().compute()[df['Order ID'].value_counts().compute() > 1].count()

2043424

In [15]:
df['Order ID'].value_counts().compute()[df['Order ID'].value_counts().compute() > 1].count()

2043424

In [15]:
df['Order ID'].value_counts().compute()[df['Order ID'].value_counts().compute() > 1].count()

2043424

In [41]:
df['Order ID'].nunique().compute() == len(df)

True

In [42]:
df['Order ID'].value_counts().compute()[df['Order ID'].value_counts().compute() > 1]

Series([], Name: count, dtype: int64)

Key Observations:
The total unique Order IDs = 2,043,424 (from df['Order ID'].nunique().compute())
The dataset has 5,000,000 rows, meaning some orders are repeated multiple times.
Some Order IDs appear 2 or 3 times (e.g., 100005042 appears 3 times).

Possible Reasons for Duplicates:
Multiple items per order: If an order contains multiple products, it may be split into multiple rows.
Partial shipments: The same order might have been shipped in batches.
Data entry issues: There could be accidental duplicate entries.
Order modifications: If an order was updated, older versions might still be in the dataset.

In [18]:
filtered_rows = df[df["Order ID"] == 100005042].compute()
print(filtered_rows)

                    Region Country        Item Type Sales Channel  \
358743  Sub-Saharan Africa    Togo  Office Supplies       Offline
301955  Sub-Saharan Africa    Togo  Office Supplies       Offline
282551  Sub-Saharan Africa    Togo  Office Supplies       Offline

       Order Priority  Order Date   Order ID   Ship Date  Units Sold  \
358743              C  2015-12-05  100005042  2016-01-12        2569
301955              C  2015-12-05  100005042  2016-01-12        2569
282551              C  2015-12-05  100005042  2016-01-12        2569

        Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
358743      651.21     524.96     1672958.49  1348622.24     324336.25
301955      651.21     524.96     1672958.49  1348622.24     324336.25
282551      651.21     524.96     1672958.49  1348622.24     324336.25

In [19]:
filtered_rows = df[df["Order ID"] == 100011479].compute()
print(filtered_rows)

        Region Country  Item Type Sales Channel Order Priority  Order Date  \
532758  Europe  Serbia  Baby Food       Offline              L  2019-03-26
519394  Europe  Serbia  Baby Food       Offline              L  2019-03-26
499990  Europe  Serbia  Baby Food       Offline              L  2019-03-26

         Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
532758  100011479  2019-04-19        4474      255.28     159.42
519394  100011479  2019-04-19        4474      255.28     159.42
499990  100011479  2019-04-19        4474      255.28     159.42

        Total Revenue  Total Cost  Total Profit
532758     1142122.72   713245.08     428877.64
519394     1142122.72   713245.08     428877.64
499990     1142122.72   713245.08     428877.64

In [20]:
filtered_rows = df[df["Order ID"] == 999997317].compute()
print(filtered_rows)

        Region Country  Item Type Sales Channel Order Priority  Order Date  \
528000  Europe  Latvia  Household       Offline              H  2014-02-05
304370  Europe  Latvia  Household       Offline              H  2014-02-05
495297  Europe  Latvia  Household       Offline              H  2014-02-05

         Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
528000  999997317  2014-02-20         283      668.27     502.54
304370  999997317  2014-02-20         283      668.27     502.54
495297  999997317  2014-02-20         283      668.27     502.54

        Total Revenue  Total Cost  Total Profit
528000      189120.41   142218.82      46901.59
304370      189120.41   142218.82      46901.59
495297      189120.41   142218.82      46901.59

In [21]:
df = df.drop_duplicates(subset=["Order ID"], keep="first")

In [22]:
duplicate_count = df.groupby("Order ID").size().compute()
print((duplicate_count > 1).sum())  # Should print 0 if no duplicates exist

0

In [43]:
filtered_rows = df[df["Order ID"] == 999997317]  # No .compute() yet
print(filtered_rows.compute())  # Compute only when needed

        Region Country  Item Type Sales Channel Order Priority Order Date  \
182259  Europe  Latvia  Household       Offline              H 2014-02-05

         Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  \
182259  999997317 2014-02-20         283      668.27     502.54

        Total Revenue  Total Cost  Total Profit
182259      189120.41   142218.82      46901.59

In [44]:
print("Rows:", df.shape[0].compute())

Rows: 2097152

In [25]:
print(df.head(10))

                               Region      Country        Item Type  \
22       Middle East and North Africa        Yemen        Household
23                               Asia      Myanmar       Vegetables
24                 Sub-Saharan Africa   The Gambia  Office Supplies
26                 Sub-Saharan Africa       Malawi           Snacks
31       Middle East and North Africa         Oman       Vegetables
40                 Sub-Saharan Africa      Comoros  Office Supplies
46                 Sub-Saharan Africa      Lesotho    Personal Care
54                             Europe      Hungary        Cosmetics
70  Central America and the Caribbean  Saint Lucia    Personal Care
76  Central America and the Caribbean      Grenada        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
22        Online              C  2019-04-18  479070270  2019-05-08
23       Offline              H  2020-03-28  727876698  2020-04-19
24        Online              L  2015-01-28  958184897  2015-03-07
26        Online              M  2017-08-08  690064418  2017-08-29
31        Online              L  2016-06-02  697118413  2016-07-16
40        Online              C  2015-11-06  798450553  2015-11-14
46        Online              L  2020-02-16  546866214  2020-02-28
54        Online              L  2017-07-12  995441424  2017-08-03
70        Online              M  2024-01-22  731556689  2024-02-26
76       Offline              M  2022-03-16  959470641  2022-04-22

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
22        6394      668.27     502.54     4272918.38  3213240.76    1059677.62
23        3745      154.06      90.93      576954.70   340532.85     236421.85
24        7059      651.21     524.96     4596891.39  3705692.64     891198.75
26        4251      152.58      97.44      648617.58   414217.44     234400.14
31        1685      154.06      90.93      259591.10   153217.05     106374.05
40        8117      651.21     524.96     5285871.57  4261100.32    1024771.25
46        8720       81.73      56.67      712685.60   494162.40     218523.20
54        2093      437.20     263.33      915059.60   551149.69     363909.91
70        2736       81.73      56.67      223613.28   155049.12      68564.16
76        7539      668.27     502.54     5038087.53  3788649.06    1249438.47

In [26]:
print(len(df))  # Displays the count of remaining rows

2097152

In [27]:
df = df.reset_index(drop=True)
print(df.head())

                         Region     Country        Item Type Sales Channel  \
0  Middle East and North Africa       Yemen        Household        Online
1                          Asia     Myanmar       Vegetables       Offline
2            Sub-Saharan Africa  The Gambia  Office Supplies        Online
3            Sub-Saharan Africa      Malawi           Snacks        Online
4  Middle East and North Africa        Oman       Vegetables        Online

  Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0              C  2019-04-18  479070270  2019-05-08        6394      668.27
1              H  2020-03-28  727876698  2020-04-19        3745      154.06
2              L  2015-01-28  958184897  2015-03-07        7059      651.21
3              M  2017-08-08  690064418  2017-08-29        4251      152.58
4              L  2016-06-02  697118413  2016-07-16        1685      154.06

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     502.54     4272918.38  3213240.76    1059677.62
1      90.93      576954.70   340532.85     236421.85
2     524.96     4596891.39  3705692.64     891198.75
3      97.44      648617.58   414217.44     234400.14
4      90.93      259591.10   153217.05     106374.05

In [28]:
print(df.head(10))

                              Region      Country        Item Type  \
0       Middle East and North Africa        Yemen        Household
1                               Asia      Myanmar       Vegetables
2                 Sub-Saharan Africa   The Gambia  Office Supplies
3                 Sub-Saharan Africa       Malawi           Snacks
4       Middle East and North Africa         Oman       Vegetables
5                 Sub-Saharan Africa      Comoros  Office Supplies
6                 Sub-Saharan Africa      Lesotho    Personal Care
7                             Europe      Hungary        Cosmetics
8  Central America and the Caribbean  Saint Lucia    Personal Care
9  Central America and the Caribbean      Grenada        Household

  Sales Channel Order Priority  Order Date   Order ID   Ship Date  Units Sold  \
0        Online              C  2019-04-18  479070270  2019-05-08        6394
1       Offline              H  2020-03-28  727876698  2020-04-19        3745
2        Online              L  2015-01-28  958184897  2015-03-07        7059
3        Online              M  2017-08-08  690064418  2017-08-29        4251
4        Online              L  2016-06-02  697118413  2016-07-16        1685
5        Online              C  2015-11-06  798450553  2015-11-14        8117
6        Online              L  2020-02-16  546866214  2020-02-28        8720
7        Online              L  2017-07-12  995441424  2017-08-03        2093
8        Online              M  2024-01-22  731556689  2024-02-26        2736
9       Offline              M  2022-03-16  959470641  2022-04-22        7539

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      668.27     502.54     4272918.38  3213240.76    1059677.62
1      154.06      90.93      576954.70   340532.85     236421.85
2      651.21     524.96     4596891.39  3705692.64     891198.75
3      152.58      97.44      648617.58   414217.44     234400.14
4      154.06      90.93      259591.10   153217.05     106374.05
5      651.21     524.96     5285871.57  4261100.32    1024771.25
6       81.73      56.67      712685.60   494162.40     218523.20
7      437.20     263.33      915059.60   551149.69     363909.91
8       81.73      56.67      223613.28   155049.12      68564.16
9      668.27     502.54     5038087.53  3788649.06    1249438.47

In [29]:
print(df.info())

<class 'dask.dataframe.dask_expr.DataFrame'>
Columns: 14 entries, Region to Total Profit
dtypes: float64(5), int64(2), string(7)None

In [30]:
print(df.dtypes)

Region            string[pyarrow]
Country           string[pyarrow]
Item Type         string[pyarrow]
Sales Channel     string[pyarrow]
Order Priority    string[pyarrow]
Order Date        string[pyarrow]
Order ID                    int64
Ship Date         string[pyarrow]
Units Sold                  int64
Unit Price                float64
Unit Cost                 float64
Total Revenue             float64
Total Cost                float64
Total Profit              float64
dtype: object

In [31]:
df["Order Date"] = df["Order Date"].astype("datetime64[ns]")
df["Ship Date"] = df["Ship Date"].astype("datetime64[ns]")

In [32]:
print(df.dtypes)

Region            string[pyarrow]
Country           string[pyarrow]
Item Type         string[pyarrow]
Sales Channel     string[pyarrow]
Order Priority    string[pyarrow]
Order Date         datetime64[ns]
Order ID                    int64
Ship Date          datetime64[ns]
Units Sold                  int64
Unit Price                float64
Unit Cost                 float64
Total Revenue             float64
Total Cost                float64
Total Profit              float64
dtype: object

In [45]:
print(df.isnull().sum().compute())

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [47]:
df.describe().compute()

,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,2097152,2.097152e+06,2097152,2.097152e+06,2.097152e+06,2.097152e+06,2.097152e+06,2.097152e+06,2.097152e+06
min,2014-01-01 00:00:00,1.000003e+08,2014-01-01 00:00:00,1.000000e+00,9.330000e+00,6.920000e+00,9.330000e+00,6.920000e+00,2.410000e+00
25%,2016-09-08 00:00:00,3.265730e+08,2016-10-03 00:00:00,2.519000e+03,1.092800e+02,5.667000e+01,2.803346e+05,1.634930e+05,9.572076e+04
50%,2019-05-15 00:00:00,5.514017e+08,2019-06-08 00:00:00,5.016000e+03,2.057000e+02,1.171100e+02,7.891109e+05,4.701480e+05,2.844007e+05
75%,2022-01-15 00:00:00,7.757283e+08,2022-02-08 00:00:00,7.519000e+03,4.372000e+02,3.646900e+02,1.829592e+06,1.204936e+06,5.671582e+05
max,2024-09-10 00:00:00,9.999999e+08,2024-10-30 00:00:00,1.000000e+04,6.682700e+02,5.249600e+02,6.682700e+06,5.249600e+06,1.738700e+06
mean,NaN,5.500001e+08,NaN,5.000498e+03,2.661651e+02,1.876368e+02,1.331001e+06,9.383151e+05,3.926858e+05
std,NaN,2.598077e+08,NaN,2.886752e+03,2.170110e+02,1.756957e+02,1.469895e+06,1.150072e+06,3.791404e+05

### How many Region,Country,Item Type in dataset

In [35]:
df[['Region', 'Country', 'Item Type']].nunique().compute()

Region         7
Country      185
Item Type     12
dtype: int64

### Name of Region Country and Item Type

In [48]:
print("Regions:", list(set(df["Region"].compute())))  
print("\nCountries:", list(set(df["Country"].compute())))  
print("\nItem Types:", list(set(df["Item Type"].compute())))

Regions: ['Middle East and North Africa', 'Asia', 'Sub-Saharan Africa', 'Australia and Oceania', 'North America', 'Europe', 'Central America and the Caribbean']

Countries: ['Sudan', 'Jamaica', 'Italy', "Cote d'Ivoire", 'Zimbabwe', 'Grenada', 'Myanmar', 'Afghanistan', 'Laos', 'Kiribati', 'Greenland', 'Mauritania', 'Comoros', 'Sierra Leone', 'Yemen', 'United Kingdom', 'Iran', 'Turkey', 'Bahrain', 'Madagascar', 'Belgium', 'Senegal', 'Nigeria', 'Lithuania', 'Montenegro', 'Portugal', 'Switzerland', 'Japan', 'Ireland', 'Moldova ', 'Mongolia', 'Taiwan', 'Russia', 'Vatican City', 'Lesotho', 'Malta', 'Greece', 'Singapore', 'Iraq', 'Trinidad and Tobago', 'Panama', 'Lebanon', 'Cambodia', 'Austria', 'Djibouti', 'Equatorial Guinea', 'Thailand', 'Pakistan', 'Seychelles ', 'Algeria', 'China', 'Tanzania', 'Oman', 'Sweden', 'Philippines', 'The Bahamas', 'Gabon', 'Maldives', 'New Zealand', 'South Africa', 'Bosnia and Herzegovina', 'Guinea', 'Israel', 'Tuvalu', 'Marshall Islands', 'Kenya', 'Niger', 'Guinea-Bissau', 'South Korea', 'Burundi', 'Belarus', 'Honduras', 'Vietnam', 'Tajikistan', 'Dominica', 'Uzbekistan', 'Mexico', 'Saudi Arabia', 'Cape Verde', 'Chad', 'Nicaragua', 'Romania', 'Haiti', 'The Gambia', 'Malawi', 'Nepal', 'Samoa ', 'Syria', 'Iceland', 'Norway', 'Vanuatu', 'Malaysia', 'Cyprus', 'Liberia', 'Cuba', 'Kuwait', 'Hungary', 'Azerbaijan', 'North Korea', 'Saint Kitts and Nevis ', 'Ukraine', 'Sri Lanka', 'Canada', 'Mali', 'Mauritius ', 'Albania', 'India', 'Bulgaria', 'Slovakia', 'Republic of the Congo', 'Australia', 'Tunisia ', 'Brunei', 'Serbia', 'United Arab Emirates', 'El Salvador', 'Uganda', 'Slovenia', 'Egypt', 'Qatar', 'Armenia', 'Nauru', 'Sao Tome and Principe', 'Togo', 'Macedonia', 'Georgia', 'Czech Republic', 'Cameroon', 'Swaziland', 'Turkmenistan', 'Latvia', 'Jordan', 'Spain', 'Palau', 'Monaco', 'South Sudan', 'Saint Lucia', 'Andorra', 'Democratic Republic of the Congo', 'Poland', 'Antigua and Barbuda ', 'Estonia', 'Namibia', 'Belize', 'Bhutan', 'Ghana', 'Libya', 'Zambia', 'Rwanda', 'Bangladesh', 'Federated States of Micronesia', 'Somalia', 'Papua New Guinea', 'Barbados', 'Guatemala', 'Liechtenstein', 'Costa Rica', 'France', 'Indonesia', 'Solomon Islands', 'United States of America', 'Central African Republic', 'Benin', 'Finland', 'Kyrgyzstan', 'Ethiopia', 'Kosovo', 'East Timor', 'Kazakhstan', 'Denmark', 'Eritrea', 'Luxembourg', 'Netherlands', 'Dominican Republic', 'Angola', 'Botswana', 'Morocco', 'San Marino', 'Tonga', 'Croatia', 'Germany', 'Fiji', 'Mozambique', 'Saint Vincent and the Grenadines', 'Burkina Faso']

Item Types: ['Clothes', 'Cereal', 'Personal Care', 'Baby Food', 'Meat', 'Fruits', 'Household', 'Office Supplies', 'Vegetables', 'Snacks', 'Beverages', 'Cosmetics']

## Objective: Identify the total sales performance across different Regions, Countries, and Item Types to see which areas or products are performing the best.

#### Step 1: Total Revenue by Region

In [37]:
df.groupby('Region')['Total Revenue'].sum().compute().sort_values(ascending=False)

Region
Sub-Saharan Africa                   7.242164e+11
Europe                               7.241913e+11
Asia                                 4.073799e+11
Middle East and North Africa         3.470547e+11
Central America and the Caribbean    3.017905e+11
Australia and Oceania                2.263054e+11
North America                        6.037313e+10
Name: Total Revenue, dtype: float64

Sub-Saharan Africa and Europe have the highest total revenue in your dataset, while North America has the lowest.

#### step 2: Top 5 countries by revenue

In [49]:
df.groupby('Country')['Total Revenue'].sum().compute().sort_values(ascending=False).head(5)

Country
Turkey        1.513059e+10
Iceland       1.512909e+10
Luxembourg    1.512547e+10
Tanzania      1.512280e+10
Canada        1.512247e+10
Name: Total Revenue, dtype: float64

Turkey, Iceland, and Luxembourg are the top 3 countries in total revenue.

#### Step 3: Sales by Item Type

In [50]:
df.groupby('Item Type')['Total Revenue'].sum().compute().sort_values(ascending=False)

Item Type
Household          5.840204e+11
Office Supplies    5.691746e+11
Cosmetics          3.820489e+11
Meat               3.687192e+11
Baby Food          2.230790e+11
Cereal             1.797617e+11
Vegetables         1.346168e+11
Snacks             1.333411e+11
Clothes            9.550580e+10
Personal Care      7.142607e+10
Beverages          4.146519e+10
Fruits             8.152601e+09
Name: Total Revenue, dtype: float64

Household,office supplies,Cosmetics has highest revenue these are high demand items

 #### Step 4: Most Sold Items by Units Sold

In [51]:
df.groupby('Item Type')['Units Sold'].sum().compute().sort_values(ascending=False)

Item Type
Office Supplies    874026231
Meat               873970008
Clothes            873955008
Household          873928731
Personal Care      873927157
Snacks             873909657
Cereal             873902157
Beverages          873871231
Baby Food          873860008
Cosmetics          873853731
Fruits             873805008
Vegetables         873794657
Name: Units Sold, dtype: int64

Key Insight: Most Sold Product Categories
Office Supplies, Meat, and Clothes have the highest units sold.
Fruits and Vegetables are the least sold items.
However, Household items generated the most revenue, but ranked 4th in units sold → This means they have a higher unit price than other items.

 #### Yearly/Monthly Sales Trends

In [52]:
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month

# Group by Year and Month to get total revenue
yearly_sales = df.groupby('Year')['Total Revenue'].sum().compute()
monthly_sales = df.groupby('Month')['Total Revenue'].sum().compute()

# Print Results
print("Yearly Sales Trends:")
print(yearly_sales)

print("\nMonthly Sales Trends:")
print(monthly_sales)

Yearly Sales Trends:
Year
2014    2.607317e+11
2015    2.609483e+11
2016    2.615702e+11
2017    2.608403e+11
2018    2.608453e+11
2019    2.608184e+11
2020    2.615735e+11
2021    2.607521e+11
2022    2.608259e+11
2023    2.608438e+11
2024    1.815618e+11
Name: Total Revenue, dtype: float64

Monthly Sales Trends:
Month
1     2.438332e+11
2     2.221350e+11
3     2.437751e+11
4     2.358520e+11
5     2.437456e+11
6     2.358213e+11
7     2.434823e+11
8     2.437347e+11
9     2.216130e+11
10    2.215326e+11
11    2.143804e+11
12    2.214061e+11
Name: Total Revenue, dtype: float64

📌 Yearly Sales Trends:

2020 aur 2024 mein drop dikha raha hai compared to other years.
2024 ka revenue abhi incomplete ho sakta hai (dataset update hote time ka check karo).
📌 Monthly Sales Trends:

January, March, May, July, August ka revenue high hai, aur November, December lowest hain – seasonal effect ho sakta hai.

#### Revenue vs. Units Sold Comparison

In [53]:
# Group by Item Type to compare Revenue vs. Units Sold
revenue_vs_units = df.groupby('Item Type')[['Total Revenue', 'Units Sold']].sum().compute()

# Print Results
print("Revenue vs. Units Sold Comparison:")
print(revenue_vs_units)

Revenue vs. Units Sold Comparison:
                 Total Revenue  Units Sold
Item Type
Baby Food         2.230790e+11   873860008
Beverages         4.146519e+10   873871231
Cereal            1.797617e+11   873902157
Clothes           9.550580e+10   873955008
Cosmetics         3.820489e+11   873853731
Fruits            8.152601e+09   873805008
Household         5.840204e+11   873928731
Meat              3.687192e+11   873970008
Office Supplies   5.691746e+11   874026231
Personal Care     7.142607e+10   873927157
Snacks            1.333411e+11   873909657
Vegetables        1.346168e+11   873794657

📌 Revenue vs. Units Sold:

Office Supplies aur Household items sabse zyada revenue generate kar rahe hain.
Beverages ka revenue kaafi low hai, lekin units sold kaafi high hain – price per unit ka impact ho sakta hai.

#### 2️⃣ Order Trends & Shipping Analysis
#### 📌 Order Volume Over Time (Identify sales trends)
#### Columns: Order Date, Order ID

In [103]:
df.groupby(df['Order Date'].dt.year)['Order ID'].nunique().compute()

Order Date
2015    195970
2023    195971
2017    195970
2022    195970
2016    196508
2019    195970
2021    195971
2018    195971
2014    195970
2024    136374
2020    196507
Name: Order ID, dtype: int64

he number of unique orders remained relatively stable from 2014 to 2023, with around 195970–196508 orders per year.
2024 shows a significant drop (136,374 orders), which could indicate:
Incomplete data for 2024 (if the dataset is not up-to-date).
A decline in demand due to economic, seasonal, or business-related factors.

#### Average Delivery Time (How fast orders are shipped)
#### Columns: Order Date, Ship Date

In [106]:
df['Delivery Time'] = (df['Ship Date'] - df['Order Date']).dt.days
df['Delivery Time'].describe().compute()

count    2.097152e+06
mean     2.499999e+01
std      1.471961e+01
min      0.000000e+00
25%      1.200000e+01
50%      2.500000e+01
75%      3.800000e+01
max      5.000000e+01
Name: Delivery Time, dtype: float64

#### 3️⃣ Profitability Analysis
#### 📌 Most Profitable Regions
#### Columns: Region, Total Profit

In [107]:
df.groupby('Region')['Total Profit'].sum().compute().sort_values(ascending=False)

Region
Sub-Saharan Africa                   2.136664e+11
Europe                               2.136640e+11
Asia                                 1.201891e+11
Middle East and North Africa         1.023870e+11
Central America and the Caribbean    8.903329e+10
Australia and Oceania                6.676739e+10
North America                        1.781476e+10
Name: Total Profit, dtype: float64

#### 📌 Least Profitable Products
#### Columns: Item Type, Total Profit

In [108]:
df.groupby('Item Type')['Total Profit'].sum().compute().sort_values()

Item Type
Fruits             2.105870e+09
Beverages          1.368482e+10
Personal Care      2.190061e+10
Snacks             4.818738e+10
Meat               4.999108e+10
Vegetables         5.516266e+10
Clothes            6.418326e+10
Cereal             7.741899e+10
Baby Food          8.376822e+10
Office Supplies    1.103458e+11
Household          1.448362e+11
Cosmetics          1.519369e+11
Name: Total Profit, dtype: float64

### 4️⃣ High-Priority Orders Analysis
#### 📌 How Many Orders Were High Priority?
#### Columns: Order Priority, Order ID

In [109]:
df['Order Priority'].value_counts().compute()

Order Priority
H    524288
M    524288
C    524288
L    524288
Name: count, dtype: int64[pyarrow]

#### 📌 Revenue from High-Priority Orders
#### Columns: Order Priority, Total Revenue

In [110]:
df.groupby('Order Priority')['Total Revenue'].sum().compute()

Order Priority
C    6.978260e+11
H    6.977690e+11
L    6.978401e+11
M    6.978762e+11
Name: Total Revenue, dtype: float64

### 5️⃣ Cost Analysis (Expense Breakdown)
#### 📌 Highest Cost Countries
#### Columns: Country, Total Cost

In [111]:
df.groupby('Country')['Total Cost'].sum().compute().sort_values(ascending=False).head(5)

Country
Turkey         1.066795e+10
Iceland        1.066585e+10
Luxembourg     1.066388e+10
Tanzania       1.066281e+10
Philippines    1.066212e+10
Name: Total Cost, dtype: float64

#### 📌 Average Cost Per Order
#### Columns: Total Cost, Order ID

In [112]:
df['Total Cost'].sum().compute() / df['Order ID'].nunique().compute()

938315.1176870966